@use 'colors' as *;
@use 'resets' as *;
@use 'scrollbar' as *;
@use 'transitions';
@use 'components/buttons';
@use 'external/vue-overrides';
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700');

body {
  background-color: #02010a;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  @include scrollbar(true);
}
